SECRET_KEY=helpdesk-pro-secure-key-2026
DB_HOST=helpdesk-db.cvoymkeyimfo.eu-north-1.rds.amazonaws.com
DB_USER=postgres
DB_PASS=hjhjhjhj
DB_NAME=helpdesk
DB_PORT=5432
FRONTEND_URL=http://localhost:3000
